/* styles.css */

.forecast-table-container {
    overflow-x: hidden;
    width: 337px;
  }
  
  .forecast-table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 337px;
  }
  
  .forecast-table th,
  .forecast-table td {
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #F4F4F4; /* Add border to cells */
  }
  


  .forecast-table th {
    position: sticky;
    left: 0;
    width: 68px;
    background-color: white;
  }
  
  .forecast-table td {
    width: 50px;
  }
  
  /* 첫 번째 행 */
  .forecast-table tbody tr:nth-child(1) th:nth-child(1),
  .forecast-table tbody tr:nth-child(1) {
    background-color: #FBE7EB;
    height: 27px;
  }
  
  /* 두 번째 행 */
  .forecast-table tbody tr:nth-child(2) th:nth-child(1),
  .forecast-table tbody tr:nth-child(2) {
    background-color: #FFF;
    height: 42px;
  }
  
  /* 세 번째 행 */
  .forecast-table tbody tr:nth-child(3) th:nth-child(1),
  .forecast-table tbody tr:nth-child(3),
  /* 다섯 번째 행 */
  .forecast-table tbody tr:nth-child(5) th:nth-child(1),
  .forecast-table tbody tr:nth-child(5) {
    background-color: #F8F8F8;
    height: 27px;
  }
  
  /* 네 번째 행 */
  .forecast-table tbody tr:nth-child(4) th:nth-child(1),
  .forecast-table tbody tr:nth-child(4) {
    background-color: #FFF;
    height: 27px;
  }
  