body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.view{
  width: 390px;
  height: 844px;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  
}
.top-view{
  display: flex;
  flex-direction: row;
  width: 390px;
  height: 89px;
  position: sticky;
  box-shadow: 0 4px 6px -6px black;
  overflow: hidden;
}


.top-image{
  width: 22px;
  height: 15px;
  margin-top: 59px;
  margin-left: 16px;
}
.logo{
  margin-left: 134px;
  margin-top: 52px;
  font-size: 24px;
  font-weight: 400;
}
.community{
  width: 16px;
  height: 17px;
  margin-left: 143px;
  margin-top: 58px;
}
.main-view{
  position: relative;
  margin-top: 1px;
  height: calc(844px - 89px);
  overflow-y: auto;
}
.top-main-view{
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}
.dropdown{
  display: flex;
  flex-direction: row;
  margin-top: 11px;
  margin-left: 14px;
  width: 95px;
  height: 22px;
  font-size: 10px;
  border: 1px solid #DC143C;
}
.d1{
  width: 59px;
  height: 11px;
  margin-left: 5px;
  font-size: 10px;
  margin-top: 5px;
}
.d2{
  margin-left: 16.5px;
}
.dropdown2{
  display: flex;
  flex-direction: row;
  margin-top: 11px;
  margin-left: 14px;
  width: 95px;
  height: 22px;
  font-size: 10px;
  border: 1px solid #DC143C;
}
.img-down{
  margin-top: 9.01px;
}

/* Chrome, Edge */
.main-view::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.main-view {
  scrollbar-width: none;
}

/* IE and Edge */
.main-view {
  -ms-overflow-style: none;
}

.detail-view{
  width: 364px;
  height: 596px;
}
.mapscale {
    margin-left: 13px;
    margin-top: 13px;
    width: 364px;
    height: 246px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  
  
