body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 844px;
    margin: 0;
}
  
.mapscale {
    position: relative;
    z-index: 0;
    width: 390px;
    height: 844px;
    flex-shrink: 0;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-image: url('./kakao_map.png');
    background-position: center; /* 배경 이미지를 중앙에 위치시킴 */
    background-repeat: no-repeat; /* 배경 이미지를 반복하지 않음 */
    background-size: cover; /* 배경 이미지가 div를 완전히 커버하도록 크기 조절 */
  }
  
  .t_nav {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 48px;
    margin-right: 21px;
    margin-left: 21px;
    width: 348px;
    height: 46px;
    border-radius: 9px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
    
  .b_nav {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 21px;
    margin-left: 21px;
    width: 348px;
    height: 46px;
    border-radius: 9px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    bottom: 41px;
  }
  
  #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  

.n{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4px;
    width: 87px;
    height: 46px;
    border-radius: 9px;
    box-sizing: border-box;
}
.n2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 87px;
    height: 46px;
    border-radius: 9px;
    box-sizing: border-box;
}
.n3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 87px;
    height: 46px;
    border-radius: 9px;
    box-sizing: border-box;
}
.n4{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-right: 4px;
    width: 87px;
    height: 46px;
    border-radius: 9px;
    box-sizing: border-box;
}
.img-size {
    padding-top: 11px;
    padding-bottom: 4px;
    width: 26px;
    height: 16px;
}
.img-size2 {
    padding-top: 10px;
    padding-bottom: 3px;
    width: 28px;
    height: 18px;
}
.img-size3 {
    padding-top: 5px;
    padding-bottom: 0px;
    width: 28px;
    height: 26px;
}
.img-size4 {
    padding-top: 8px;
    width: 23px;
    height: 23px;
}

.icon_name{
    margin-left: 1px; /* to account for the extra pixel */
    color: #000;
    font-family: Inter;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    width: 100%;
}

.n > * {
    margin: 0;
}
.n2 > * {
    margin: 0;
}
.n3 > * {
    margin: 0;
}
.n4 > * {
    margin: 0;
}

